@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(53, 53, 53);
    margin: 0 auto;
}

header img{
    width:100px;
    padding: 15px;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);

}
section.top{
    background: url(media/fond1.png);
    height: 80vh;
    background-size: cover;
    padding: 25px;
}

nav.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 250px;
    margin-left: 50px;
}

nav.nav li{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
.titre{
    color: white;
    font-size: 120px;
    font-family: 'MedievalSharp', cursive;
    margin-left: 36%;
}

.services{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}

.services-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon{
    font-size: 100px;
    color: rgb(255, 255, 255);
}

.services-detail{
    font-weight: 550;
    width: 200px;
    text-align: center;
    color: white;
}